mixin footer()
	+b.FOOTER.footer.section
		.container
			+e.row.row
				.col-md.col-lg-3
					+e.name Андрей Сафин
					+e.status Мастер кармических погружений
				.col-md-auto.col-lg-4
					+mnu
				.col-lg-5
					+e.wrap
						p © #[span ] Андрей Сафин.<br>Мастер кармических погружений.
						+e.link(href="#") Политика конфиденциальности 
						.row
							.col-auto: a(href="mailto:lekpoylodro@gmail.com") lekpoylodro@gmail.com
							.col-auto: +soc()
						+e.warning *Деятельность организации Meta Platforms Inc, её&nbsp;продуктов Instagram, Facebook, WhatsApp запрещена в&nbsp;Российской Федерации
						+e.site
							span за сайт 
							| 
							+icon('site') 
							| 
							a(href="https://quasabra.com/" target='_blank') Quasabra