mixin sContact(order)
	// start sContact
	+b.SECTION.sContact.section#sContact&attributes(attributes)
		+e.container.container
			.img
				+img('img/sContact-img-1.png')
			+b.section-title
				.h4 Чтобы попасть к&nbsp;мастеру, запишитесь на&nbsp;диагностическую сессию удобным для вас способом
			+form-wrap(order)
				+input('Ваше имя', 'text','name')
				+input('Удобный способ связи', 'select')
				+input('Ваши контактные данные', 'tel').phone-new.input-js.active(required)
				+input('Ваша почта', 'email').input-js(required)
				//- .phone-new
				+e.btn.btn.btn-outline-primary(type="submit") Отправить
				+policy()
			+e.text *На&nbsp;диагностической сессии определяется объём и&nbsp;стоимость работы
			+soc
				//- +item-sos('whatsapp')
				//- +item-sos('telegram')
	// end sContact