mixin sLiberation(data)
	// start sLiberation
	+b.SECTION.sLiberation.bg-wrap.section#sLiberation&attributes(attributes)
		//- picture.img
		//- 	source(media="(min-width: 768px)", srcset="img/sLiberation-bg.jpg")
		//- 	img(src='img/sLiberation-bg-sm.jpg' alt='')
		+e.container.container
			.img
				+img('img/sLiberation-bg.jpg')
			+b.section-title
				h2 ОСВОБОЖДЕНИЕ от фобий
				p через кармические погружения
			ul
				li Точечное решение конкретной проблемы
				li Несколько сеансов, и вы забудете о вашем страхе
	// end sLiberation