mixin sDeliverance(data)
	// start sDeliverance
	+b.SECTION.sDeliverance.bg-wrap.section#sDeliverance&attributes(attributes)
		+img('img/sDeliverance-bg.jpg', 'bg').picture-bg
		.container
			+b.section-title
				h2.h3 ПОЛНОЕ ИЗБАВЛЕНИЕ ОТ:
			ul
				li от&nbsp;всех видов панических атак, фобий, страхов 
				li от&nbsp;страха высоты 
				li боязни полетов 
				li боязни глубины 
				li потери сна 
				li клаустрофобии, агорафобии и&nbsp;прочих фобий
				li страха публичных выступлений 
				li страха несчастного случая 
				li страха перед животными и&nbsp;насекомыми (собаками, змеями, тараканами и&nbsp;т.д.) 
				li страха внезапной смерти и&nbsp;болезней 
				li страх финансового краха, наказания, тюремного заключения
	// end sDeliverance