mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+b.section-title
				h1.h2 О мастере
			+e.row.row
				.col-lg-auto
					+img('img/sAbout-img-1.jpg').img
				.col-lg
					ul
						li #[span Более 30&nbsp;лет] на&nbsp;пути практического исследования индийской, тибетской и&nbsp;русской традиции мироустройства 
						li Последние #[span 15&nbsp;лет успешно] применяет кармические погружения как средство избавления от&nbsp;негативного кармического наследия (страданий, блоков и&nbsp;прочих помех на&nbsp;жизненном пути)
						li #[span С&nbsp;1996 года] обучался у&nbsp;ведущих гуру из&nbsp;Тибета, Индии, России, Канады и&nbsp;США. Получил посвящения в&nbsp;различные традиции, методы и&nbsp;практики индийской и&nbsp;тибетской йоги
						li #[span Более 20&nbsp;лет] последовательно преподает тибетскую йогу и&nbsp;буддийские медитации всем желающим, независимо от&nbsp;уровня их&nbsp;предварительной подготовки. Есть свои авторские курсы
						li #[span Профессиональный специалист] по&nbsp;медитативным дыхательным практикам
	// end sAbout