extends ../layout/main.pug

//- include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
//- include ../blocks/sCatalog/_sCatalog.pugg

block variables
	- let  mainPage= 'main-page' 
	- let  bg= ''

block title
	- let  title= "О мастере"
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main 
		//- 
		+sContact
	+parts('footer')
      



