extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 

include ../blocks/footer/_footer.pug
include ../blocks/modal/_modal.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug

include ../blocks/sAdvantages/_sAdvantages.pug
include ../blocks/sLiberation/_sLiberation.pug
include ../blocks/sDeliverance/_sDeliverance.pug
include ../blocks/sAboutTechnique/_sAboutTechnique.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= 'main.jpg'

block title
	- let  title= "Главная"
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	//- +parts('header')

	+header()
		+top-nav()
	main
		+headerBlock 
		+sAdvantages
		+sLiberation
		+sDeliverance
		+sAboutTechnique
		+sContact('Заявка с "Главной" страницы')
	+footer()
	//- +parts('footer')
      



