extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 

include ../blocks/footer/_footer.pug
include ../blocks/modal/_modal.pug

//- include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug

include ../blocks/sAboutTechnique/_sAboutTechnique.pug
include ../blocks/sMethod/_sMethod.pug

block variables
	- let  mainPage= '' 
	- let  bg= 'method.jpg'

block title
	- let  title= "Методы и принципы"
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	//- +parts('header')
	+header()
		+top-nav()
	main 
		+sAboutTechnique2
		+sMethod
		+sContact('Заявка со страницы "Методы и принципы"')
	+footer()
	//- +parts('footer')
      



