mixin sThanks(data)
	// start sThanks
	+b.SECTION.sThanks.bg-wrap.section#sThanks&attributes(attributes)
		+img('img/404-bg.jpg', 'bg').picture-bg
		.container
			h1 Спасибо!
			.h4 Ваша заявка успешно отправлена!
			p В&nbsp;течение дня наш менеджер свяжется с&nbsp;вами для уточнения деталей
	// end sThanks