// start .sThanks
.sThanks {
	--sPT: #{rem(74)};
	--sPB: #{rem(98)};
	// --sTPB: #{rem()};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(204.400)};
		--sPB: #{rem(200)};
	}
	position: relative;
	text-align: center;
	&:before {
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: rgba(0, 0, 0, 0.70);
		z-index: -1;
	}
	img {
		z-index: -2;
	}
	h1 {
		color: $primary;
		font-size: rem(46);
		font-weight: 700;
		line-height: 0.88;
		margin-bottom: rem(27);
		@include media-breakpoint-up(lg) {
			font-size: rem(100.6);
			margin-bottom: rem(52.600);
		}
	}
	.h4 {
		line-height: 1.2;
		margin-bottom: rem(40);
		@include media-breakpoint-up(lg) {
			line-height: 0.8;
			margin-bottom: rem(51);
			font-size: rem(32.8999);
		}
	}
	p {
		max-width: rem(520.594);
		margin: 0 auto;
		line-height: 1.6;
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sThanks