mixin sMethod(data)
	// start sMethod
	+b.SECTION.sMethod.section#sMethod&attributes(attributes)
		+e.container.container
			.bg
				img(src='img/sMethod-bg-1.jpg', alt='')
			+b.section-title
				h2 методы и&nbsp;принципы
			p #[span Кармические погружения ] &nbsp;&mdash; это обращения к&nbsp;глубинной памяти в&nbsp;поисках первоисточника ситуации, ошибочного решения, сформировавших корневую программу, которую человек продолжает неосознанно воссоздавать, в&nbsp;итоге сталкиваясь с&nbsp;однотипными проблемами, страхами, беспокойствами, которые образуют препятствия в&nbsp;его текущей жизни.

			p Для кармических погружений не&nbsp;происходит введение клиента ни&nbsp;в&nbsp;трансовые, ни&nbsp;в&nbsp;гипнотические состояния. Кармические погружения имеют в&nbsp;своей основе философские исследования и&nbsp;выглядят как беседа&nbsp;&mdash; 
				span очная или онлайн.

			p Для улучшения концентрации мастер просит собеседника ненадолго закрыть глаза. Создается игровое поле для сознания, в&nbsp;котором понимается, как 
				span решить серьезные проблемы
	// end sMethod