// start .sAboutTechnique
.sAboutTechnique {
	--sPT: #{rem(42)};
	--sPB: #{rem(121)};
	--sTPB: #{rem(45)};
	background-color: $body-color;
	color: $body-bg;
	overflow: hidden;
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(139)};
		--sPB: #{rem(137.400)};
		--sTPB: #{rem(107.400)};
	}
	&__container {
		position: relative;
		.bg {
			position: absolute;
			width: rem(194);
			opacity: .3;
			right: 0;
			bottom: rem(-223);
			@include media-breakpoint-up(lg) {
				opacity: 1;
				width: rem(660);
				top: 50%;
				transform: translateY(-50%);
				right: rem(-531);
			}
			@include media-breakpoint-up(xl) {
				right: rem(-355);
			}
		}
	}
	.section-title{
		h2 {
			margin-bottom: rem(30);
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(49);
			}
		}
		p {
			max-width: rem(702);
			margin-bottom: rem(45);
			line-height: 1.6;
			@include media-breakpoint-up(lg) {
				margin-left: rem(64);
				margin-bottom: rem(81);
			}
		}
	}
	&__links {
		display: flex;
		@include roww('60px', '36px', m);
		flex-direction: column;
		@include media-breakpoint-up(lg) {
			flex-direction: row;
		}
		a {
			font-size: rem(20);
			font-weight: 500;
			line-height: 1.01;
			text-decoration-line: underline;
			color: #000;
			&:hover {
				color: $primary;
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAboutTechnique