mixin sAboutTechnique(data)
	// start sAboutTechnique
	+b.SECTION.sAboutTechnique.section#sAboutTechnique&attributes(attributes)
		+e.container.container
			+img('img/sAboutTechnique-bg.png').bg
			+b.section-title
				h2 О методике
				p Кармические погружения&nbsp;&mdash; это метод обращения к&nbsp;нашей глубинной памяти через особые сеансы погружения с&nbsp;помощью авторских техник. Во&nbsp;время сеансов в&nbsp;сознании клиента проходит интенсивный поиск первоисточника ситуации, ошибочного решения, сформировавших корневую программу, которую человек продолжает неосознанно воссоздавать, и&nbsp;поэтому неизбежно сталкивается с&nbsp;однотипными проблемами, страхами, беспокойствами, которые образуют препятствия в&nbsp;его нынешней жизни.
			+e.links 
				a(href="#") Подробнее о мастере 
				a(href="#") Подробнее об услуге
	// end sAboutTechnique