mixin sAboutTechnique(data)
	// start sAboutTechnique
	+b.SECTION.sAboutTechnique.section#sAboutTechnique&attributes(attributes)
		+e.container.container
			img(src='img/sAboutTechnique-bg.png' alt='').bg
			+b.section-title
				h2 О методике
				p Кармические погружения&nbsp;&mdash; это метод обращения к&nbsp;нашей глубинной памяти через особые сеансы погружения с&nbsp;помощью авторских техник. Во&nbsp;время сеансов в&nbsp;сознании клиента проходит интенсивный поиск первоисточника ситуации, ошибочного решения, сформировавших корневую программу, которую человек продолжает неосознанно воссоздавать, и&nbsp;поэтому неизбежно сталкивается с&nbsp;однотипными проблемами, страхами, беспокойствами, которые образуют препятствия в&nbsp;его нынешней жизни.
			+e.links 
				a(href="/about.html") Подробнее о мастере 
				a(href="/method.html") Подробнее об услуге
	// end sAboutTechnique

mixin sAboutTechnique2(data)
	// start sAboutTechnique
	+b.SECTION.sAboutTechnique--2.section#sAboutTechnique&attributes(attributes)
		+e.container.container
			img(src='img/sAboutTechnique-bg-2.png' alt='').bg
			+b.section-title
				h1.h2 РЕЗУЛЬТАТЫ прохождения курса кармических погружений
			ul
				li победный выход из&nbsp;тупиковых ситуаций в&nbsp;бизнесе,<br>карьере или в&nbsp;личной жизни 
				li способность видеть и&nbsp;предупреждать возможные негативные сценарии в&nbsp;бизнесе 
				li прорыв финансового &laquo;потолка&raquo;&nbsp;&mdash; выход на&nbsp;принципиально новый уровень дохода 
				li энергетический анализ конкурентов 
				li глубокая уверенность в&nbsp;себе 
				li раскрытие способностей, необходимых для более успешного и&nbsp;уверенного достижения своих целей
	// end sAboutTechnique